@import '~antd/dist/antd.css';

@font-face {
  font-family: BrandonText;
  src: url("./fonts/BrandonText-Bold.otf") format("opentype");
}
@font-face {
  font-family: BrandonTextRegular;
  src: url("./fonts/BrandonText-Regular.otf") format("opentype");
}

h1 {
  font-family: 'Work Sans', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.03em;
  color: black;
}

h2 {
  font-family: BrandonText;
  font-weight: 700;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}

h3 {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.03em;
  color: black;
}
.divider {
  width: 100%;
}

html {
  body {
    font-size: 16px;
    font-weight: 200;
    width: auto;
    height: auto;
  }
}

.section-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  min-width: 960px;
}
.padded {
  padding: 0 50px 0 50px;
}

.logo-name {
  font-family: 'Work Sans';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 12px;
}

.logo-container {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-direction: row;
  color: white;
}

.logo {
  max-height: 100%;
}

.nav {
  background-color: #6457FF;
  display: flex;
  flex-direction: row;
  max-height: 74px;

  .right-links {
    margin-left:auto;
    display: flex;
    flex-direction: row;
    margin-top:auto;
    margin-bottom: auto;
    .item {
      margin-left: 16px;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 14px;
      font-weight: 500;
      padding: 4px 20px 4px 20px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .launch {
    background: #24098F;
    box-shadow: 2px 4px 10px rgba(36, 9, 143, 0.4);
    border-radius: 2px;
  }

}

.splash {
  background: #6457FF;
  background: linear-gradient(180deg, #6457FF 51.89%, rgba(97, 91, 255, 0.263306) 87.58%, rgba(102, 100, 255, 0) 100%);
  padding-bottom: 28px;
  .module {
    border-radius: 30px;
    width: 100%;
    height: auto;
  }
}

.intro {
  background: white;
  display: flex;
  flex-direction: column; 
  padding-top: 54px;
  .section-container {
    padding-left: 90px;
  }
  .cta-container {
    margin-right: 20px;
  }
  .asset {
    max-width: 50%;
    margin-right:-40px;
  }
  .button-container {
    margin-top: 36px;
  }
}

.strategies {
  display: flex;
  background: #24098F;
  flex-direction: column;
  padding-top: 36px;

  h3 {
    text-align: center;
    margin-bottom: 0;
    color: white;
  }
  .section-container {
    flex-direction: column;
  }
  .strategy-overview {
    display: flex;
    flex-direction: row;
    margin: 40px;
    width: 100%;
    max-width: 800px;
    .strategy {
      background: #2B008D;
      border: 1px solid rgba(101, 87, 255, 0.3);
      box-shadow: 0px 4px 30px 3px rgba(149, 172, 255, 0.2);
      border-radius: 30px;
      padding-bottom: 8%;
      h3 {
        font-size: 24px;
      }
    }
    .strategy + .strategy {
      margin-left: 5%;
    }
  }
  .asset-container {
    display: inline-block;
    object-fit: contain;
    padding: 18% 20% 0 20%;
    img {
      height: 100%;
      width: 100%;
    }
  }
  img + img {
    margin-left: 20px;
  }
}

.start-earning {
  background: white;
  display: flex;
  flex-direction: column;
  .carousel {
    width: 290px;
    margin-left: 80px;
    margin-right: 24px;
  }

  h3 {
    padding-right: 80px;
  }
  .cta-container {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin: auto;
  }
  .asset2 {
    max-width: 40%;
  }
  .divider {
    margin: 0;
  }
  .section-container + .section-container {
    margin-top: 80px;
  }
}


.button-container {
  display: flex;
  margin-top: 20px;
  .button {
    display:flex;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 500;
    padding: 8px 24px;
    height: auto;
    background: linear-gradient(90deg, #2037FF 0%, #6658FF 100%);
  }
}

.team {
  background: #24098F;
  color: white;
  padding-bottom: 34px;
  min-height: 300px;
  body {
    color: inherit;
    background: inherit;
    font-size: 18px;
    font-weight: 200;
    padding-right: 60px;
  }
  h1 {
    color: inherit;
  }
  img {
    height: 500px;
  }

  .section-container {
    display: flex;
    flex-direction: row;
  }
  .container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
  }
}
.questions {
  margin-bottom: 50px;
  .section-container {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  h2 {
    font-family: 'Work Sans';
    font-weight: 700;
    width: 40%;
    font-size: 30px;
  }
  .collapse {
    width: 70%;
    flex-grow: 1;
    .ant-collapse-item {
      background-color: white;
      font-weight: 700;
    }
    .ant-collapse-header {
      flex-direction:row-reverse;
      justify-content: space-between;
      color: #3706FA;
    }
  } 
}

.footer {
  display: flex;
  flex-direction: column;
  height: 140px;
  background: #24098F;
  padding-top: 30px;

  .logo-container {
    padding: 0 50px 0 50px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .logo {
    height: 64px;
  }
  .copyright {
    color: white;
    padding: 0 50px 0 50px;
    font-size: 14px;
  }
  .item {
    color: white;
    font-size: 14px;
    font-family: BrandonTextRegular;
    margin-top: auto;
    margin-bottom:auto;
  }
  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .item + .item {
    margin-left: 50px;    
  }
  .socials{
    margin-left: auto;
    margin-right: 50px;
    display: flex;

    .item {
      margin-top: auto;
      margin-bottom: auto;
    }
    .item + .item {
      margin-left: 20px;
    }
  }
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
