@import '~antd/dist/antd.css';
@font-face {
  font-family: 'Work Sans';
  src: url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
}
@font-face {
  font-family: BrandonGrotesque;
  src: url("./fonts/brandon-grotesque-black.otf") format("opentype");
}
h1 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 68px;
  letter-spacing: -0.03em;
  color: black;
}
h2 {
  font-family: BrandonGrotesque;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
}
h3 {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -0.03em;
  color: black;
}
.divider {
  width: 100%;
}
html body {
  font-size: 18px;
  font-weight: 200;
  width: auto;
  height: auto;
}
.section-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  min-width: 960px;
}
.padded {
  padding: 0 50px 0 50px;
}
.logo-name {
  font-family: WorkSans;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 12px;
}
.logo-container {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-direction: row;
  color: white;
}
.logo {
  max-height: 100%;
}
.nav {
  background-color: #6457FF;
  display: flex;
  flex-direction: row;
  max-height: 74px;
}
.nav .right-links {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
}
.nav .right-links .item {
  margin-left: 16px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.nav .right-links .item a {
  color: white;
  text-decoration: none;
}
.splash {
  background: #6457FF;
  background: linear-gradient(180deg, #6457FF 51.89%, rgba(97, 91, 255, 0.263306) 87.58%, rgba(102, 100, 255, 0) 100%);
  padding-bottom: 28px;
}
.splash .module {
  border-radius: 30px;
  width: 100%;
  height: auto;
}
.intro {
  background: white;
  display: flex;
  flex-direction: column;
  padding-top: 54px;
}
.intro .section-container {
  padding-left: 90px;
}
.intro .cta-container {
  margin-right: 20px;
}
.intro .asset {
  max-width: 50%;
  margin-right: -40px;
}
.strategies {
  display: flex;
  background: #24098F;
  flex-direction: column;
  margin-top: -8vw;
}
.strategies h3 {
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.strategies .section-container {
  flex-direction: column;
}
.strategies .asset-container {
  margin: 50px auto 0 auto;
}
.strategies img + img {
  margin-left: 20px;
}
.start-earning {
  background: white;
  display: flex;
  flex-direction: column;
  margin: 0 50px 0 50px;
}
.start-earning img {
  margin: 50px;
}
.start-earning .cta-container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin: auto;
}
.start-earning .asset2 {
  max-width: 40%;
}
.button-container {
  display: flex;
  margin-top: 20px;
}
.button-container .button {
  display: block;
  text-transform: uppercase;
  background: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  align-items: flex-start;
  text-align: center;
  font-weight: 500;
  flex-grow: 0;
}
.team {
  background: #353535;
  color: white;
  padding-bottom: 34px;
  padding: 20px 50px 34px 50px;
  min-height: 300px;
}
.team body {
  color: inherit;
  background: inherit;
}
.team h2 {
  color: inherit;
  margin-left: auto;
  margin-right: auto;
}
.team .button-container {
  margin-left: auto;
  margin-right: auto;
}
.team .button-container .button {
  background: white;
  color: black;
}
.team .section-container {
  flex-direction: column;
}
.questions {
  margin-top: 50px;
  margin-bottom: 50px;
}
.questions .section-container {
  padding-left: 50px;
  padding-right: 50px;
}
.questions h2 {
  width: 30%;
}
.questions .collapse {
  width: 70%;
  flex-grow: 1;
}
.questions .collapse .ant-collapse-item {
  background-color: white;
  font-weight: 400;
}
.questions .collapse .ant-collapse-header {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.footer {
  display: flex;
  flex-direction: row;
  height: 140px;
  background: #918F8F;
}
.footer .logo-container {
  padding: 0 50px 0 50px;
  margin-top: auto;
  margin-bottom: auto;
}
.footer .logo {
  height: 64px;
}
.footer .item {
  color: white;
  font-size: 14px;
  margin-top: auto;
  margin-bottom: auto;
}
.footer .item + .item {
  margin-left: 50px;
}
.footer .socials {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
}
.footer .socials .item {
  margin-top: auto;
  margin-bottom: auto;
}
.footer .socials .item + .item {
  margin-left: 20px;
}
